* {
  box-sizing: border-box;
}
@font-face {
  font-family: "BM";
  src: url("../src/fonts/BMDOHYEON.ttf") format("truetype");
}

body {
  background-color: rgb(220, 220, 220);
  font-family: "BM";
}
